<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Lista de Pagos</h4>
          <button type="button" class="btn btn-danger" [routerLink]="'/nuevo-pago'">Nuevo Pago</button>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="overflow-x: auto;">
            <table class="table">
              <thead class=" text-primary">
                <th>#</th>
                <th>Forma de pago</th>
                <th>Codigo cliente</th>
                <th>Fecha pago</th>
                <th>Total</th>
                <th>OP</th>
              </thead>
              <tbody>
                <tr *ngFor="let datos of pagos; let i = index">
                  <td>{{i + 1 }}</td>
                  <td>{{ datos.forma_pago }}</td>
                  <td>{{ datos.codigo_cliente }}</td>
                  <td>{{ datos.fecha_pago }}</td>
                  <td>{{ datos.total }}</td>
                  <td>
                    <button type="button" class="btn btn-success" [routerLink]="'/editar-pago/' + datos.id">✏️</button>
                    <button type="button" class="btn btn-default"(click)="deletePago(datos.codigo)">🗑️</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="btn btn-primary floating-btn" (click)="scrollToTop()">
    <i class="bi bi-chevron-up"></i>
</button> -->
</div>