
.toggle-sidebar-button {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según tu preferencia */
    right: 20px; /* Ajusta la distancia desde la derecha según tu preferencia */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 50%; /* Para hacer que el botón sea redondo */
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.toggle-sidebar-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse por encima */
}
