<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="title">Añade un nuevo Pago</h5>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Forma_pago</label>
                                <select class="form-control" [(ngModel)]="idCliente"
                                    (change)="onChangeCliente($event)">
                                    <option value="">Seleccione una opción</option>
                                    <option *ngFor="let datos of clientes" [value]="datos.codigo">
                                        {{ datos.nombre }} {{ datos.apellido1 }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>forma_pago</label>
                                <input type="text" class="form-control" placeholder="0.00" id="forma_pago"
                                    name="forma_pago" [(ngModel)]="forma_pago">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>codigo_cliente</label>
                                    <input type="text" class="form-control" placeholder="Ingrese un nombre" id="codigo_cliente"
                                        name="codigo_cliente" [(ngModel)]="codigo_cliente">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>fecha_pago</label>
                                    <input type="text" class="form-control" placeholder="Ingrese un fecha_pago"
                                        id="fecha_pago" name="fecha_pago" [(ngModel)]="fecha_pago">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>total</label>
                                    <input type="text" class="form-control" placeholder="Ingrese un total"
                                        id="total" name="total" [(ngModel)]="total">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-danger full-width-btn" 
                                    (click)="addPago()" >Añadir Cliente</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>