<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="title">Añade un nuevo Detalle</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>

                        <div class="row">
                

                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Codigo Cliente</label>
                                    <select class="form-control" [(ngModel)]="idPedido"
                                        (change)="onChangePedido($event)">
                                        <option value="">Seleccione una opción</option>
                                        <option *ngFor="let datos of pedidos" [value]="datos.id">
                                             {{ datos.fecha_pedido }}</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Codigo Cliente</label>
                                    <select class="form-control" [(ngModel)]="idProducto"
                                        (change)="onChangeProducto($event)">
                                        <option value="">Seleccione una opción</option>
                                        <option *ngFor="let datos of productos" [value]="datos.id">
                                             {{ datos.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>cantidad</label>
                                <input type="text" class="form-control" placeholder="Ingrese una Fecha" id="cantidad"
                                    name="cantidad" [(ngModel)]="cantidad">
                            </div>
                        </div>

                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>precio_unidad</label>
                                <input type="text" class="form-control" placeholder="Ingrese un Estado" id="precio_unidad"
                                    name="precio_unidad" [(ngModel)]="precio_unidad">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>numero_linea</label>
                                <input type="text" class="form-control" placeholder="Ingrese un numero_linea" id="numero_linea"
                                    name="numero_linea" [(ngModel)]="numero_linea">
                            </div>
                        </div>


                 

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-danger full-width-btn" 
                                 >Añadir Pedido</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
