<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Lista de Detalle Pedidos</h4>
          <button type="button" class="btn btn-danger" [routerLink]="'/nuevo-detalle'">Nuevo Detalle Pedido</button>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="overflow-x: auto;">
            <table class="table">
              <thead class=" text-primary">
                <th>Código pedido</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>N° Linea</th>
                <!-- <th>OP</th> -->
              </thead>
              <tbody>
                <tr *ngFor="let datos of detalles">
                  <td>{{ datos.codigo_pedido }}</td>
                  <td>{{ datos.codigo_producto }}</td>
                  <td>{{ datos.cantidad }}</td>
                  <td>{{ datos.precio_unidad }}</td>
                  <td>{{ datos.numero_linea }}</td>
                  <!-- <td>
                    <button type="button" class="btn btn-default"(click)="deleteDetalle(datos.codigo_pedido)">🗑️</button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="btn btn-primary floating-btn" (click)="scrollToTop()">
    <i class="bi bi-chevron-up"></i>
</button> -->
</div>