<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngFor="let datos of datosPago">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="title">Añade un nuevo Pago</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Forma Pago</label>
                                <input type="text" class="form-control" placeholder="Ingrese un Forma de pago" id="forma_pago"
                                    name="forma_pago" [(ngModel)]="forma_pago">
                            </div>
                        </div>

                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Codigo Cliente</label>
                                <select class="form-control" [(ngModel)]="idCliente"
                                    (change)="onChangeCliente($event)">
                                    <option value="">Seleccione una opción</option>
                                    <option *ngFor="let datos of clientes" [value]="datos.id">
                                        {{ datos.nombre1 }} {{ datos.apellido }}</option>
                                </select>
                            </div>
                        </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>Fecha Pago</label>
                                    <input type="date" class="form-control" placeholder="Ingrese un fecha_pago"
                                        id="fecha_pago" name="fecha_pago" [(ngModel)]="fecha_pago">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>Total</label>
                                    <input type="text" class="form-control" placeholder="Ingrese un total"
                                        id="total" name="total" [(ngModel)]="total">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-danger full-width-btn" 
                                    (click)="updatePago(datos)"  >Añadir Pagos</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>