<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Lista de Pedidos</h4>
          <button type="button" class="btn btn-danger" [routerLink]="'/nuevo-pedido'">Nuevo Pedido</button>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="overflow-x: auto;">
            <table class="table">
              <thead class=" text-primary">
                <th>#</th>
                <th>Fecha_pedido</th>
                <th>Fecha_esperada</th>
                <th>Fecha_entrega</th>
                <th>Estado</th>
                <th>Comentarios</th>
                <th>Codigo_cliente</th>
                <th>OP</th>
              </thead>
              <tbody>
                <tr *ngFor="let datos of pedidos; let i = index">
                  <td>{{i + 1 }}</td>
                  <td>{{ datos.fecha_pedido }}</td>
                  <td>{{ datos.fecha_esperada }}</td>
                  <td>{{ datos.fecha_entrega }}</td>
                  <td>{{ datos.estado }}</td>
                  <td>{{ datos.comentarios }}</td>
                  <td>{{ datos.nombre_cliente }}</td>
                  <td>
                    <button type="button" class="btn btn-success" [routerLink]="'/editar-pedido/' + datos.codigo">✏️</button>
                    <button type="button" class="btn btn-default"(click)="deletePedido(datos.codigo)">🗑️</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="btn btn-primary floating-btn" (click)="scrollToTop()">
    <i class="bi bi-chevron-up"></i>
</button> -->
</div>